h1{
    display: flex;
    align-items: center;
    color:#42343A;
    font-size: 15px;
    display: flex;
    margin-top: 10px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-style: oblique;
}

h1 b{
    color: #30A1C0;
    margin-left: 10px;
    font-size: 25px;
}

.container{
    display: inline-block;

    width: 250px ;
    height: 400px ;

    margin-top: 15px;
    margin-right: 15px;

    border: outset #8698B3;
    border-radius: 5px;    
}