<!-- 
<table style="border: 1px solid;">
    <tr>
        <th>
            <h4>Nombre del Auto:</h4>
        </th>
        <td>
            <p> Lamborghini Huracán </p>
        </td>
    </tr>
    <tr>
        <th>
            <h4>Marca:</h4>
        </th>
        <td>
            <p> Lamborghini </p>
        </td>
    </tr>
    <tr>
        <th colspan="2">
            <img src="assets/images/auto_lamborghini.png" alt="Lamborghini Huracán" style="max-height: 350px; max-width: 350px;">
        </th> 
    </tr>
</table>
-->

<h2> {{ nombreAuto }} </h2>
<input type="text" [(ngModel)] = "nombreAuto">

<div *ngIf = "nombreAuto === 'Altima'">
    <strong> El precio de este auto es mayor a 300,000</strong>
</div>

<div [ngSwitch] = "nombreAuto">
    <div *ngSwitchCase = "'Sentra'">
        <strong> El precio de este auto es mayor a 200,000</strong>
    </div>
    <div *ngSwitchCase = "'Versa'">
        <strong> El precio de este auto es mayor a 100,000</strong>
    </div>
    <div *ngSwitchDefault>
        No se encontro el auto
    </div>
</div>

<ul>
    <li *ngFor=" let auto of listaAutos; index as i "> {{ auto }} {{ i }} </li>
</ul>