<div class="card">
    <div class="card-header card-header-danger">
        <h4 class="card-title"> Nuevo Auto: </h4>
    </div>
    <div class="card-body table-responsive">
        <p>Ingresa los datos correspondientes del nuevo auto en el siguiente formulario: </p>
        <hr>
        <p>Nombre:</p>
        <input style="width: 100%; font-size: 20px" [(ngModel)]="this.autoModel.nombre" />
        <br>
        <br>
        <p>Numero de Motor: </p>
        <input style="width: 100%; font-size: 20px" [(ngModel)]="this.autoModel.numeroMotor"/>
        <br>
        <br>
        <p>Fecha de Ensamble: </p>
        <input style="width: 100%; font-size: 20px" [(ngModel)]="this.autoModel.fechaEsamble" />
        <br>
        <br>
        <p>Precio del Mercado: </p>
        <input style="width: 100%; font-size: 20px" [(ngModel)]="this.autoModel.precioMercado"/>
        <br>
        <br>
        <p>ID de la Marca: </p>
        <input style="width: 100%; font-size: 20px" [(ngModel)]="this.autoModel.marcaId"/>
        <br>
        <br>
        <hr>
        <button type="button" class="btn btn-outline-secondary float-right" (click)="this.registrarAutoClicked()">Enviar</button>
    </div>
</div>
