<div class="card">
    <div class="card-header card-header-danger">
        <h4 class="card-title"> Editar el detalle del Auto: </h4>
    </div>
    <div class="card-body table-responsive">
        <p> Realiza la modificación adecuada, escribiendo los datos corresponidientes en el siguiente formulario:</p>
        <hr>
        <p>Nombre:</p>
        <input style="width: 100%; font-size: 20px" [(ngModel)]="this.editarAutoModel.nombre" />
        <br>
        <br>
        <p>Numero de Motor: </p>
        <input style="width: 100%; font-size: 20px" [(ngModel)]="this.editarAutoModel.numeroMotor"/>
        <br>
        <br>
        <p>Fecha de Ensamble: </p>
        <input style="width: 100%; font-size: 20px" [(ngModel)]="this.editarAutoModel.fechaEsamble" />
        <br>
        <br>
        <p>Precio del Mercado: </p>
        <input style="width: 100%; font-size: 20px" [(ngModel)]="this.editarAutoModel.precioMercado"/>
        <br>
        <br>
        <p>ID de la Marca: </p>
        <input style="width: 100%; font-size: 20px" [(ngModel)]="this.editarAutoModel.marcaId"/>
        <br>
        <br>
        <hr>
        <button type="button" class="btn btn-outline-secondary float-right" (click)="this.edit()" routerLink="../../" >Editar</button>
    </div>
</div>
