<table style="border: 1px solid;">
    <tr>
        <th>
            <h4>Nombre del Auto:</h4>
        </th>
        <td>
            <p> Lamborghini Huracán </p>
        </td>
    </tr>
    <tr>
        <th>
            <h4>Marca:</h4>
        </th>
        <td>
            <p> Lamborghini </p>
        </td>
    </tr>
    <tr>
        <th colspan="2">
            <img src="assets/images/auto_lamborghini.png" alt="Lamborghini Huracán" style="max-height: 350px; max-width: 350px;">
        </th> 
    </tr>
</table>
