<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <header>
        <h1> <b>G</b>estión <i>de</i>  <b> A</b>utos: </h1>
    </header>

    <main>

        <!--
        <app-demo></app-demo>
        <app-demo-auto></app-demo-auto>
        -->

        <app-autos [title]="title"></app-autos>

        

    </main>

    <footer>
        <input type="text" [(ngModel)] = "title">
        <p> {{ title}} </p>
    </footer>
    
</body>
</html>



<router-outlet></router-outlet>
