img{
    width: 530px ;
    height: 220px;
    border-radius: 5px;;
    margin-left: 2px;
    margin-right: 2px;
}

/*
h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-style: italic;
    color: #1B3954;    
}

h2:hover{
    cursor: pointer;
    color: #102442;   
}

img{
    width: 230px ;
    height: 220px;
    border-radius: 5px;;
    margin: 0px 10px;
}

img:hover{
    filter: drop-shadow(3px 3px 5px #8B8B8B);
}

p{
    text-align: center;
    font-style: oblique;
    text-overflow: ellipsis;
}

button{
    width: 96%;
    height: 50px;
    
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    color: #102442;

    margin-left: 2%;
    margin-right: 2%;

    border-radius: 50px;
    border: 0px;

    background-color: rgba(#39ADE6,.5);
    cursor: pointer;
}

button:hover{
    color: white;
    background-color: rgba(#39ADE6,.8);
    filter: drop-shadow(3px 3px 5px #D2D2D2);
}
*/